{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-runtime", "transform-strict-mode"],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./runtime.webpack.config.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
